@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="container d-flex justify-content-center mt-0">
        <img src="~/Content/img/hotel2.jpg" style="max-width:1000px;"/>
    </div>
</div>